@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="~/images/Dashboard.png" alt="Dashboard" style="max-width:100%;" />
    <button type="button" class="btn btn-info" onclick="myclick()">click me!</button>
    <button type="button" class="btn btn-info" onclick="myclickPost()">click post!</button>
</div>
@section Scripts{
    <script type="text/javascript">
        function myclick() {
            $.ajax({
                type: "GET",
                url: "/Index?handler=Names",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: function (data) {
                    toastr.success(data, "ok")
                },
                error: function (error) {
                    toastr.error("Error :)", "oops!")
                }
            });
        }

        function myclickPost() {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/Index?handler=GetTime",
                dataType: "json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: { "name": "mostafa" },
                success: function (data) {
                    toastr.success(data, "ok")
                },
                error: function (error) {
                    toastr.error("Error :)", "oops!")
                }
            });
        }
    </script>
}
