@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @*<img src="~/images/Dashboard.png" alt="Dashboard" style="max-width:100%;"/>*@
</div>
@section Scripts{
<script>
    toastr.error("Wsdfsdfsdfelcome to Mono Dashboard", "Ho2wdy!");
</script>
}
